In [23]:
import pandas as pd
import os

In [24]:
datums = os.path.join("resources","purchase_data.csv")
purchase_df = pd.read_csv(datums)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [25]:
#the total number of unique playersa
player_num = [len(purchase_df['SN'].unique())]
total_players_df = pd.DataFrame(player_num, columns=['Total Players'])
total_players_df

   Total Players
0            576

In [26]:
#Purchasing Analysis

number_of_items = len(purchase_df['Item ID'].unique())
item_average_price = purchase_df['Price'].mean()
number_of_purchases = purchase_df['SN'].count()
total_revenue = purchase_df['Price'].sum()
data = [{'Number of Unique Items ' : number_of_items , 'Average Price' : item_average_price , 'Number of Purchases' : number_of_purchases , 'Total Revenue' : total_revenue}]
summary_df = pd.DataFrame(data)
summary_df

#hosted_in_us_df["average_donation"] = hosted_in_us_df[ "average_donation"].astype(float).map("${:,.2f}".format)
#file_df["population"] = file_df["population"].map("{:,.1f}".format)

   Number of Unique Items   Average Price  Number of Purchases  Total Revenue
0                      179       3.050987                  780        2379.77

In [27]:
#Gender Demographics
gender_counts = purchase_df["Gender"].value_counts()

male_df = purchase_df[purchase_df['Gender'] == 'Male']
male_total = len(male_df['SN'].unique())
female_df = purchase_df[purchase_df['Gender'] == 'Female']
female_total = len(female_df['SN'].unique())

other_df = purchase_df[(purchase_df['Gender'] !='Male') & (purchase_df['Gender'] !='Female') ]
other_total = len(other_df['SN'].unique())

overall_total = male_total + female_total + other_total
gender_summary = pd.DataFrame({
    'Total Count' : [male_total, female_total, other_total],
    "Percentage" : [male_total/overall_total*100, female_total/overall_total*100, other_total/overall_total*100]
    })
gender_summary

   Total Count  Percentage
0          484   84.027778
1           81   14.062500
2           11    1.909722

In [28]:
#Purchasing Analysis (Gender)
gender_counts
purchase_df

male_gamerz = purchase_df.loc[purchase_df['Gender'] == 'Male']
female_gamerz = purchase_df.loc[purchase_df['Gender'] == 'Female']
other_gamerz = purchase_df.loc[(purchase_df['Gender'] != 'Female') & (purchase_df['Gender'] != 'Male')]

unique_male_gamers = male_gamerz.groupby("SN").sum()
unique_female_gamers = female_gamerz.groupby('SN').sum()
unique_other_gamers = other_gamerz.groupby('SN').sum()

#creates a lil summary table 
datums = {
    "Purchase Price" : [male_gamerz['Price'].count(), female_gamerz['Price'].count() , other_gamerz['Price'].count()],
    "Average Purchase Price": [male_gamerz['Price'].sum()/male_gamerz['Price'].count(),female_gamerz['Price'].sum()/female_gamerz['Price'].count(), other_gamerz['Price'].sum()/other_gamerz['Price'].count()] ,
    "Total Purchase Value" : [male_gamerz['Price'].sum() , female_gamerz['Price'].sum(), other_gamerz['Price'].sum()],
    "Average Total Purcase Per Person" : [unique_male_gamers['Price'].sum()/unique_male_gamers['Price'].count(), unique_female_gamers['Price'].sum()/unique_female_gamers['Price'].count(), unique_other_gamers['Price'].sum()/unique_other_gamers['Price'].count()]
     
     
}


gender_analytics_df = pd.DataFrame(datums)
gender_analytics_df


#we sould be using the .agg function to complete this work!

,Purchase Price,Average Purchase Price,Total Purchase Value,Average Total Purcase Per Person
0,652,3.017853,1967.64,4.065372
1,113,3.203009,361.94,4.468395
2,15,3.346000,50.19,4.562727

In [29]:
#age demographics 
#make bins from 0-10, 10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-90, 90-100.
bins = [0,10,15,20,25,30,35,40,100]
group_names = ["<10",'10-14', '15-19', '20-24', '25-29', '30-34','35-39', '40+']
purchase_df['ages'] = pd.cut(purchase_df['Age'], bins, labels=group_names, right=False )
purchase_df
age_groups = purchase_df.groupby("ages")

ages_bin = age_groups['ages'].count()

average_price_by_age = age_groups['Price'].mean()
total_sales_by_age = age_groups['Price'].sum()

unique_gamers_count = age_groups['SN'].nunique()

average_per_person = total_sales_by_age/unique_gamers_count

age_df = pd.DataFrame({
    'Purchase Count' : ages_bin, 
    'Average Purchase Price' : average_price_by_age,
    'Total Purchase Value' : total_sales_by_age,
    'Avg Total Purchase Per Person' : average_per_person
    
    })
age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
ages,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [37]:
#big spenders in da game 

big_spenders = purchase_df.groupby('SN')
spender_count = big_spenders['Purchase ID'].count()
average_price = big_spenders['Price'].mean()
total_purchase_value = big_spenders['Price'].sum()

big_spender_df = pd.DataFrame({
    'Purchase Count' : spender_count,
    'Average Purchase Price' : average_price,
    'Total Purchase Value' : total_purchase_value
})

big_spender_df

sorted_big_spender = big_spender_df.sort_values(['Total Purchase Value'], ascending=False)
sorted_big_spender.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [ ]:
#Popular Items