In [1]:
import pandas as pd
import os

In [2]:
datums = os.path.join("resources","purchase_data.csv")
purchase_df = pd.read_csv(datums)

In [3]:
#the total number of unique playersa
player_num = [len(purchase_df['SN'].unique())]
total_players_df = pd.DataFrame(player_num, columns=['Total Players'])
total_players_df

   Total Players
0            576

In [4]:
#Purchasing Analysis

number_of_items = len(purchase_df['Item ID'].unique())
item_average_price = purchase_df['Price'].mean()
number_of_purchases = purchase_df['SN'].count()
total_revenue = purchase_df['Price'].sum()
data = [{'Number of Unique Items ' : number_of_items , 'Average Price' : item_average_price , 'Number of Purchases' : number_of_purchases , 'Total Revenue' : total_revenue}]
summary_df = pd.DataFrame(data)

#formatting
summary_df['Average Price'] = summary_df['Average Price'].astype(float).map("${:,.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].astype(float).map("${:,.2f}".format)

summary_df

#hosted_in_us_df["average_donation"] = hosted_in_us_df[ "average_donation"].astype(float).map("${:,.2f}".format)
#file_df["population"] = file_df["population"].map("{:,.1f}".format)

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                      179         $3.05                  780     $2,379.77

In [5]:
#Gender Demographics
gender_counts = purchase_df["Gender"].value_counts()

male_df = purchase_df[purchase_df['Gender'] == 'Male']
male_total = len(male_df['SN'].unique())
female_df = purchase_df[purchase_df['Gender'] == 'Female']
female_total = len(female_df['SN'].unique())

other_df = purchase_df[(purchase_df['Gender'] !='Male') & (purchase_df['Gender'] !='Female') ]
other_total = len(other_df['SN'].unique())

overall_total = male_total + female_total + other_total
gender_summary = pd.DataFrame({
    'Total Count' : [male_total, female_total, other_total],
    "Percentage" : [male_total/overall_total*100, female_total/overall_total*100, other_total/overall_total*100]
    })

#formating
gender_summary['Percentage'] = gender_summary['Percentage'].astype(float).map("{:,.2f}%".format)

gender_summary

   Total Count Percentage
0          484     84.03%
1           81     14.06%
2           11      1.91%

In [12]:
#Purchasing Analysis (Gender)
gender_counts
purchase_df

male_gamerz = purchase_df.loc[purchase_df['Gender'] == 'Male']
female_gamerz = purchase_df.loc[purchase_df['Gender'] == 'Female']
other_gamerz = purchase_df.loc[(purchase_df['Gender'] != 'Female') & (purchase_df['Gender'] != 'Male')]

unique_male_gamers = male_gamerz.groupby("SN").sum()
unique_female_gamers = female_gamerz.groupby('SN').sum()
unique_other_gamers = other_gamerz.groupby('SN').sum()

#creates a lil summary table 
datums = {
    "Purchase Price" : [male_gamerz['Price'].count(), female_gamerz['Price'].count() , other_gamerz['Price'].count()],
    "Average Purchase Price": [male_gamerz['Price'].sum()/male_gamerz['Price'].count(),female_gamerz['Price'].sum()/female_gamerz['Price'].count(), other_gamerz['Price'].sum()/other_gamerz['Price'].count()] ,
    "Total Purchase Value" : [male_gamerz['Price'].sum() , female_gamerz['Price'].sum(), other_gamerz['Price'].sum()],
    "Average Total Purchase Per Person" : [unique_male_gamers['Price'].sum()/unique_male_gamers['Price'].count(), unique_female_gamers['Price'].sum()/unique_female_gamers['Price'].count(), unique_other_gamers['Price'].sum()/unique_other_gamers['Price'].count()]
     
     
}

gender_analytics_df = pd.DataFrame(datums, index=["Male", "Female", "Other"])

#formatting
gender_analytics_df['Average Purchase Price'] = gender_analytics_df['Average Purchase Price'].astype(float).map("${:,.2f}".format)
gender_analytics_df['Total Purchase Value'] = gender_analytics_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)
gender_analytics_df['Average Total Purchase Per Person'] = gender_analytics_df["Average Total Purchase Per Person"].astype(float).map("${:,.2f}".format)

gender_analytics_df

,Purchase Price,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other,15,$3.35,$50.19,$4.56

In [7]:
#age demographics 
#make bins from 0-10, 10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-90, 90-100.
bins = [0,10,15,20,25,30,35,40,100]
group_names = ["<10",'10-14', '15-19', '20-24', '25-29', '30-34','35-39', '40+']
purchase_df['Age Range'] = pd.cut(purchase_df['Age'], bins, labels=group_names, right=False )
purchase_df

age_groups = purchase_df.groupby('Age Range')
age_count = age_groups['SN'].nunique()
age_percent = (age_count/player_num)*100

age_summary_df = pd.DataFrame({
    "Total Count" : age_count,
    "Percentage of Players" : age_percent
})

#formattin
age_summary_df['Percentage of Players'] = age_summary_df['Percentage of Players'].astype(float).map("{:,.2f}%".format)

age_summary_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [8]:
age_groups = purchase_df.groupby("Age Range")

ages_bin = age_groups['Age Range'].count()

average_price_by_age = age_groups['Price'].mean()
total_sales_by_age = age_groups['Price'].sum()

unique_gamers_count = age_groups['SN'].nunique()

average_per_person = total_sales_by_age/unique_gamers_count

age_df = pd.DataFrame({
    'Purchase Count' : ages_bin, 
    'Average Purchase Price' : average_price_by_age,
    'Total Purchase Value' : total_sales_by_age,
    'Avg Total Purchase Per Person' : average_per_person
    
    })

#formatting
age_df['Average Purchase Price'] = age_df['Average Purchase Price'].astype(float).map("${:,.2f}".format)
age_df['Total Purchase Value'] = age_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)
age_df['Avg Total Purchase Per Person'] = age_df["Avg Total Purchase Per Person"].astype(float).map("${:,.2f}".format)

age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [9]:
#big spenders in da game 

big_spenders = purchase_df.groupby('SN')
spender_count = big_spenders['Purchase ID'].count()
average_price = big_spenders['Price'].mean()
total_purchase_value = big_spenders['Price'].sum()

big_spender_df = pd.DataFrame({
    'Purchase Count' : spender_count,
    'Average Purchase Price' : average_price,
    'Total Purchase Value' : total_purchase_value
})

big_spender_df

sorted_big_spender = big_spender_df.sort_values(['Total Purchase Value'], ascending=False)

#formatting
sorted_big_spender['Average Purchase Price'] = sorted_big_spender['Average Purchase Price'].astype(float).map("${:,.2f}".format)
sorted_big_spender['Total Purchase Value'] = sorted_big_spender["Total Purchase Value"].astype(float).map("${:,.2f}".format)

sorted_big_spender.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [10]:
#Popular Items
popular_items_df = purchase_df[['Item ID', 'Item Name', 'Price']]
popular_items = popular_items_df.groupby(['Item ID','Item Name'])

total_purchases = popular_items['Price'].count()

total_item_purchase_value = popular_items["Price"].sum()

item_price = total_item_purchase_value/total_purchases

hottest_items = pd.DataFrame({
    'Purchase Count': total_purchases,
    'Item Price': item_price,
    'Total Purchase Value' : total_item_purchase_value
})
hottest_items_sorted = hottest_items.sort_values(['Purchase Count'], ascending=False)

#formatting
hottest_items_sorted['Item Price'] = hottest_items_sorted['Item Price'].astype(float).map("${:,.2f}".format)
hottest_items_sorted['Total Purchase Value'] = hottest_items_sorted["Total Purchase Value"].astype(float).map("${:,.2f}".format)

hottest_items_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [11]:
#Most Profitable Items

profitable_items = hottest_items.sort_values('Total Purchase Value', ascending=False)

#formatting
profitable_items['Item Price'] = profitable_items['Item Price'].astype(float).map("${:,.2f}".format)
profitable_items['Total Purchase Value'] = profitable_items["Total Purchase Value"].astype(float).map("${:,.2f}".format)

profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80